
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.background2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.background3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}
.cor {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  
}
.background.first {
  background: linear-gradient(to bottom, #27bcf7, #87CEEB,#b5dcfc); 
}

.background.second {
  position: absolute;
  background: linear-gradient(to bottom, #264966, #1c6a9e,#ffffff); 
  z-index: -2;
}

.background.third {
  background: linear-gradient(to bottom, #112f47, #123b5e,#165588); 

}

.cloud {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 407px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  
  animation: cloudMove 5s linear infinite;
    }
    .cloud2 {
      position: absolute;
  top: 18%;
  left: 28%;
  transform: translate(-50%, -50%);
  width: 557px;
  height: 72px;
  background-color: #fff;
  border-radius: 50%;
  animation: cloudMove 5s linear infinite;
  z-index: -1;

        }
        .cloud3 {
          position: absolute;
  top: 16%;
  left: 69%;
  transform: translate(-50%, -50%);
  width: 422px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  z-index: -1;
  animation: cloudMove 5s linear infinite;
            }

    .raindrop {
      position: absolute;
      width: 3px;
      height: 129px;
      background-color: #fff;
      border-radius: 35%;
      z-index: -6;
      animation: rainDrop 0.3s linear infinite, fadeInOut 0.5s linear infinite;
        animation-delay: 0s, 0s;
    }

    @keyframes cloudMove {
        0% {
            transform: translate(-50%, -50%) translateX(-50px);
        }
        50% {
            transform: translate(-50%, -50%) translateX(50px);
        }
        100% {
            transform: translate(-50%, -50%) translateX(-50px);
        }
    }

    @keyframes rainDrop {
        0% {
            transform: translateY(-10px);
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
          transform: translateY(300px);
            opacity: 0;
        }
    }

    @keyframes fadeInOut {
        0%, 100% {
            opacity: 0.4;
        }
        50% {
            opacity: 1;
        }
    }

    /* Animação de delay para os pingos de água */
    .raindrop:nth-child(odd) {
        animation-delay: 0.2s; /* Adiciona delay de 0.5s aos pingos de água ímpares */
    }
.personagem {
    width: 80px;
    height: 86px;
    background-image: url('../andar1.gif');
    position: absolute;
    transform: scaleX(1);
    bottom: 19vw;

    left: 0;
    z-index: 1;

  }
  .personagem.esquerda {
    width: 80px;
    height: 86px;
    background-image: url('../andar1.gif');
    position: absolute;
    transform: scaleX(-1);
    left: 0;
    bottom: 13vw;
    z-index: 1;

  }
  .personagem.Parado {
    width: 90px;
    height: 100px;
    background-image: url('/home/bennyjohann/benny/Git/Html/Projeto_3/parado.gif');

    position: absolute;
    transform: scaleX(1);
    left: 0;
    bottom: 12.7vw;
    z-index: 1;


  }
  .personagem.Parado.esquerda {
    width: 90px;
    height: 100px;
    background-image: url('/home/bennyjohann/benny/Git/Html/Projeto_3/parado.gif');

    position: absolute;
    transform: scaleX(-1);
    left: 0;
    bottom: 12.7vw;
    z-index: 1;


  }
  .personagem.Pular {
    width: 90px;
    height: 110px;
    background-image: url('../pular1.gif');
    animation: jump 0.99s both;
    position: absolute;
    transform: scaleX(1);
    left: 0;
    bottom: 12.7vw;
    z-index: 1;

  

  }
 
  .personagem.esquerda.Pular2 {
    width: 90px;
    height: 110px;
    background-image: url('../pular1.gif');
    animation: jump2 0.99s both;

    position: absolute;
    left: 0;
    bottom: 12.7vw;
    z-index: 1;

  }

  


  

  @keyframes jump {
    
    0% { transform: translateY(0);}
    40% { transform: translateY(-200px); }
    100% { transform: translateY(0);}
}
  
  @keyframes jump2 {
    
    0% { transform: translateY(0) scaleX(-1);}
    40% { transform: translateY(-200px) scaleX(-1); }
    100% { transform: translateY(0) scaleX(-1);}
}

.position {
  position: fixed; 
  bottom: -25px;
  left: 0;
  width: 100%; 
}

.container {
  display: flex;
  z-index: 3;
}

.image {
  width: 12vw;
  height: 8vw;
  background-image: url('https://img.freepik.com/vetores-premium/padrao-de-chao-de-grama-de-bloco-de-fundo-de-jogo-de-pixel_8071-46689.jpg');
  background-size: cover;
  margin-right: 0px;
  z-index: 3;
  position: relative;
}


.background-images {
  display: flex;
}

.img {
  width: 125vw;
  background-image: url('https://img.freepik.com/vetores-premium/padrao-de-chao-de-grama-de-bloco-de-fundo-de-jogo-de-pixel_8071-46689.jpg');
  height: 7.8vw;
  background-size: cover;
  z-index: -1;
  position: relative;
  top: -25px;
} 

  